.app-body {
  max-width: 1240px;
  margin: 0 auto;
  padding: 36px;
  height: 100%;
  overflow: auto;
}

input {
  width: 100%;
  outline: none;
}

table {
  button {
    padding: .2rem .4rem;
  }
}

.retros-container {
  display: flex;
  flex-direction: column;
}

.retros-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  
  & > * {
    text-align: left;
  }
}

#code-editor {
  min-height: 50vh;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
}

.retro-session-form form {
  max-width: unset;
}

.mb {
  margin-bottom: 16px;
}

.errors {
  color: red;
}

.btn-md {
  padding: .4rem .8rem;  
}

.btn-alt {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-danger {
  color: #fff;
  background-color: red;
  border-color: red;
}

.btn-success {
  color: #fff;
  background-color: #47a329;
  border-color: #47a329;
}

.button-row {
  margin: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  
  & > * {
    margin-right: 16px;
  }
  
  & > *:last-of-type {
    margin-right: 0;
  }
}

.code-output-box {
  padding: 36px;
}