<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">     
    <link rel="stylesheet" href="RetroSum.styles.css"/>
    <HeadOutlet/>
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>

    <script>
        function runScripts(args) {
            document.getElementById('code-output').innerHTML = new Function(args)();
        }
    </script>
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>